{% load static %}
<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'auction/css/style.css' %}" rel="stylesheet">
</head>

<body>
<div class="container">
    <h2><a href="{% url 'home' %}" style="text-decoration:none" class="us">О нас</a></h2>
    <h2><a href="{% url 'home' %}" style="text-decoration:none" class="prav">Правила</a></h2>
    <h2><a href="{% url 'podd' %}" style="text-decoration:none" class="podd">Поддержка</a></h2>
    <h2><a href="{% url 'home' %}" style="text-decoration:none" class="register">Регистрация</a></h2>
</div>
{% block content %}
{% endblock %}
</body>
</html>

{#I#}