{% extends "auction/base.html" %}

{% block content %}
    {% for p in post %}
        {% if p.images %}
            <p><img class="img-article-left thumb" src="{{ p.images.url }}"></p>
            <div class="h2">
                <h2>
                    {{ p.name }}
                        {% for b in user_enter %}

                            <a href="{{ b }}" class="batten">Поставить</a>
                        {% endfor %}
                    </p>
                </h2>

            </div>{% endif %}
    {% endfor %}
{% endblock %}